{{unit "ui.title" pageTitle="Home"}}
{{unit "ui.content.title" pageHeader="Home"}}

{{unit "lib.data-table"}}

{{#zone "breadcrumbs"}}
    <li>
        <a href="{{@app.context}}/">
            <i class="icon fw fw-home"></i>
        </a>
    </li>
{{/zone}}

{{#zone "content"}}
    <!-- content -->
    <div class="container-fluid">

    </div>
{{/zone}}

