{{#zone "brand"}}
    <a href="{{#defineZone "productUri"}}{{@app.context}}/{{/defineZone}}">
        <img src="{{@unit.publicUri}}/img/logo.png" alt="{{defineZone "logo.productName"}}"
             title="{{defineZone "logo.productName"}}" class="logo" />
        <h1>{{#defineZone "logo.productName"}}Unified UI Template App{{/defineZone}}</h1>
    </a>
{{/zone}}