{{layout "uuf.foundation.layout.default"}}
{{#zone "title"}}Pet Store | List Pets | WSO2{{/zone}}
{{#zone "logo.productName"}}Pet Store{{/zone}}
{{#zone "content"}}
    <h2>Welcome to pet store</h2>
    <h4>your new best friend awaits</h4>
    <hr/>
    <a href="pets">See all our amazing pets</a>
    <br/>
    <a href="pets/new">Add a new pets</a>
{{/zone}}
