{{layout "uuf.foundation.layout.default"}}
{{#headerTitle}}Pet Store | List Pets | WSO2{{/headerTitle}}
{{#fillZone "logo.productName"}}Pet Store{{/fillZone}}
{{#fillZone "content"}}
    <h2>Welcome to pet store</h2>
    <h4>your new best friend awaits</h4>
    <hr/>
    <a href="pets">See all our amazing pets</a>
    <br/>
    <a href="{{@app.publicUri}}/pets">Add a new pet</a>
{{/fillZone}}