{{layout "uuf.foundation.layout.default"}}
{{#fillZone "title"}}Pet Store | List Pets | WSO2{{/fillZone}}
{{#fillZone "logo.productName"}}Pet Store{{/fillZone}}
{{#fillZone "content"}}
    <h2>Welcome to pet store</h2>
    <h4>your new best friend awaits</h4>
    <hr/>
    <a href="pets">See all our amazing pets</a>
    <br/>
    <a href="pets/new">Add a new pets</a>
{{/fillZone}}
