{{#zone "title"}}Pet Store | List Pets | WSO2{{/zone}}
{{#zone "logo.productName"}}Pet Store{{/zone}}
{{#zone "content"}}
     <h1>{{name}}</h1>
     <img src="{{img}}" alt="image of {{name}}" class="pet-image">
     <p>{{description}}</p>
{{/zone}}
