{{layout "org.wso2.carbon.uuf.foundation.default"}}
{{#headerTitle}}Pet Details | Pets Store{{/headerTitle}}
{{#fillZone "logo.productName"}}Pet Store{{/fillZone}}
{{#fillZone "content"}}
    <div>
        <img src="{{imgUrl}}" >
    </div>
    <div>
        Name: {{name}} <br/>
        Type: {{type}} <br/>
    </div>
{{/fillZone}}