{{layout "uuf.foundation.layout.default"}}
{{#zone "title"}}Pet Store | List Pets | WSO2{{/zone}}
{{#zone "logo.productName"}}Pet Store{{/zone}}
{{#zone "content"}}
    <form method="post">
        <label for="name">name</label>
        <input type="text" name="name">
    </form>
{{/zone}}
